body {
    background-color: darkslategrey;
}

.container {
    border-radius: 29px 29px 29px 29px;
    -webkit-border-radius: 29px 29px 29px 29px;
    -moz-border-radius: 29px 29px 29px 29px;
}